---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Intro from '../components/Intro.astro';
import Works from '../components/Works.astro';
import Service from '../components/Service.astro';
import AboutStudio from '../components/AboutStudio.astro';
import Topics from '../components/Topics.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Header />
  <main>
    <Hero />
    <Intro />
    <Works />
    <Service />
    <AboutStudio />
    <Topics />
    <Contact />
  </main>
  <Footer />
</Layout>
